.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $menuBackground;
    transform: translateX(-100vw);
}

.overlay_slideRight {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}
.overlay_slideLeft{
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw);
}

/*Nav Menu Items */
ul {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.nav a {
    position: relative;
    top: 45%;
    color: $primaryColor;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:hover {
        transform: scale(1.2);
    &::after {
        width: 15vw;
    }
      }
      
      &:after {
        content: '';
        position: absolute;
        left: 42.2%; bottom: -5px;
        height: 3px;
        background-color: $primaryColor;
        width: 0;
        transition: width .4s;
      }
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}


.nav {
    height: 20%;
    overflow: hidden;

    &_1{
        background-color: $navColor1;
        text-decoration: none;

    }
    &_2{
        background-color: $navColor2;
    }
    &_3{
        background-color: $navColor3;
    }
    &_4{
        background-color: $navColor4;
    }
    &_5{
        background-color: $navColor5;
    }
}