.hamburger{
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 10;
    display: inline;

    &_menu{
        width: 35px;
        height: 2px;
        background-color: $primaryColor;
        margin: 8px;
        transition: 0.4s;
    }
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px,8px);
    background-color: $primaryColor;
}

/* Fade out second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate third bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
    background-color: $primaryColor;
}